@use "@/globalStyles/variables.scss" as *;
@use "@/globalStyles/colors.scss" as *;

.section {
  padding-bottom: 5px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scrollShadowWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    width: 40px;
    height: 92%;
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-blend-mode: multiply;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
  }

  &.showLeft {
    &::before {
      opacity: 1;
    }
  }

  &.showRight {
    &::after {
      opacity: 1;
    }
  }
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  gap: 0.25rem;
  padding-bottom: 0.5rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  position: relative;
  margin-left: -0.5rem;

  &::-webkit-scrollbar {
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
.viewAllCard {
  flex: 0 0 auto;
  position: relative;
  width: 171px;
  height: 227px;
  border: 3px solid $primary-accent;
  border-radius: 6px;
  margin-left: 0.75rem;
  margin-top: 0.75rem;
  overflow: hidden;

  @media (max-width: $breakpoint-mobile) {
    width: 130px;
    height: 180px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 171px;
    height: 227px;
  }

  &:hover {
    transform: translateY(-3px) scale(1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
}
.viewAllTextWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewAllText {
  color: white;
  font-weight: 600;
  font-size: 14px;
  pointer-events: none;
  margin-top: 10px;
}

