$white: #ffffff;
$black: #000000;
$bg-secondary: #1e1b26;
$border-secondary: #332e42;
$white-lilac: #eae6f5;
$primary-accent: #7658ed;
$border-primary: #9179f1;
$background-primary: #25222d;
$midnight-violet: #282432;
$muted-violet: #837b99;
$text-default: #eae6f5;
$disabled-icon: #837b994f;
$icon-orange: #faad17;
$icon-blue: rgb(93, 166, 231);
$icon-blue-bg: rgba(93, 166, 231, 0.12);
