@import "@/globalStyles/colors.scss";
@import "@/globalStyles/variables.scss";

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(171px, 1fr));
  gap: 0.5rem;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  @media (min-width: $breakpoint-desktop) {
    gap: 1rem;
  }
}