@use "@/globalStyles/variables.scss" as *;
@use "@/globalStyles/colors.scss" as *;

.wrapper {
  padding-bottom: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(171px, 1fr));
  gap: 0.5rem;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  @media (min-width: $breakpoint-desktop) {
    gap: 1rem;
  }
}
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
