@use "@/globalStyles/variables.scss" as *;
@use "@/globalStyles/colors.scss" as *;

.card {
  flex: 0 0 auto;
  position: relative;
  width: 171px;
  border-radius: 6px;
  margin-left: 0.5rem;
  margin-top: 0.75rem;
  overflow: hidden;
  &:hover {
    transform: translateY(-3px) scale(1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  @media (max-width: $breakpoint-mobile) {
    width: 130px;
    height: 180px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 171px;
    height: 227px;
  }
}

.imageWrapper {
  position: relative;
  width: 171px;
  height: 227px;

  @media (max-width: $breakpoint-mobile) {
    width: 130px;
    height: 180px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 171px;
    height: 227px;
  }
}
